extends layout

block content
  form(id="login", action="/login", method="POST")
  form(id="register", action="/register", method="GET")

  div(class="d-flex justify-content-center align-items-center m-0" style="height: 100vh")
    div(class="w-25")
      input(type="text", form="login", name="username", placeholder="Username", value=lastUsername ? lastUsername : '', class="m-2 form-control")
      input(type="password", form="login", name="password", placeholder="Password", class="m-2 form-control")
      if error
        p(class="text-center m-2 text-primary") #{error}
      button(type="submit", form="login", class="m-2 form-control btn btn-lg btn-primary") Login
      button(type="submit", form="register", class="m-2 form-control btn btn-lg btn-danger") Or signup
    
