extends layout

block content
  form(action="/postAvis" method="POST" class="d-flex justify-content-center align-items-center" style="height: 100vh")
    div(class="w-25")
      input(type="text" name="title" placeholder="Title" value=body ? body.title : '' class="m-2 form-control")
      textarea(name="message" placeholder="Message..." value=body ? body.message : '' class="m-2 md-textarea form-control")
      
      label(class="m-2 mb-0 text-center w-100") Note
      select(name="stars" class="m-2 form-control")
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
          
      if error
        p(class="text-center m-2 text-primary") #{error}
      button(type="submit" class="m-2 form-control btn btn-lg btn-primary") Post avis
    
