extends layout

block content
  div(class="d-flex flex-wrap justify-content-center" style="height: 100vh")
    h1(class="text-center col-12 m-4") Hello #{username}
    
    if avatar
      img(src="data:image/jpeg;base64," + avatar)
        
    div(class="w-25 mx-auto")
      a(class="form-control btn btn-primary btn-lg m-2" href="/addArticle") Add new article
      a(class="form-control btn btn-primary btn-lg m-2" href="/postAvis") Post new avis
      a(class="form-control btn btn-danger btn-lg m-2" href="/logout") Logout
      
        
      
      
